In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

URL = "https://chartejournalismeecologie.fr/les-signataires/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")
html_table = soup.table
df_signing_journalists = pd.read_html(str(html_table), header=0)[0]

In [25]:
df_signing_journalists

,Nom,Prénom,Fonction,Média ou organisation
0,Aballain,Olivier,Directeur des formations au journalisme,ESJ Lille
1,Abalo,André,JRI,France Télévision
2,Abbiateci,Jean,Journaliste,NaN
3,ABOUDOU,Djamiou,Journaliste,L’Emissaire
4,Acar,Anne-Lucie,Journaliste,Free-lance
...,...,...,...,...
1543,zbinden,wendy,Journaliste,Pigiste
1544,ZEIMET,Stéphanie,Journaliste-éditrice digitale,L’Echo Républicain-Centre France
1545,Zine,Ghita,Journaliste,NaN
1546,Zucchet,Romy,Directrice de publication,Brillante Magazine
1547,ZURMELY,David,journaliste,ARTE

In [2]:
df_signing_journalists[df_signing_journalists.Nom.isna()]

      Nom Prénom Fonction Média ou organisation
1518  NaN    NaN      NaN                   NaN

In [3]:
# Removing empty rows
df_signing_journalists.dropna(axis=0, how='all', inplace=True)
df_signing_journalists.reset_index(drop=True, inplace=True)

In [4]:
df_signing_journalists

,Nom,Prénom,Fonction,Média ou organisation
0,Aballain,Olivier,Directeur des formations au journalisme,ESJ Lille
1,Abalo,André,JRI,France Télévision
2,Abbiateci,Jean,Journaliste,NaN
3,ABOUDOU,Djamiou,Journaliste,L’Emissaire
4,Acar,Anne-Lucie,Journaliste,Free-lance
...,...,...,...,...
1542,zbinden,wendy,Journaliste,Pigiste
1543,ZEIMET,Stéphanie,Journaliste-éditrice digitale,L’Echo Républicain-Centre France
1544,Zine,Ghita,Journaliste,NaN
1545,Zucchet,Romy,Directrice de publication,Brillante Magazine
1546,ZURMELY,David,journaliste,ARTE

In [29]:
df_signing_journalists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547 entries, 0 to 1546
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Nom                    1547 non-null   object
 1   Prénom                 1538 non-null   object
 2   Fonction               1540 non-null   object
 3   Média ou organisation  1484 non-null   object
dtypes: object(4)
memory usage: 48.5+ KB

In [57]:
def capitalize(name):
    '''Capitalize a first name or a last name. Even the hyphenated first names.
    
    Examples: 
     - elsa -> Elsa
     - jean-pierre or Jean-pierre -> Jean-Pierre
    '''
    if name:
        if name.find("-") != -1:
            list_names = name.split("-")
            list_capitalized_names = [name.capitalize() for name in list_names]
            return "-".join(list_capitalized_names)
        else:
            list_names = name.split()
            list_capitalized_names = [name.capitalize() for name in list_names]
            return " ".join(list_capitalized_names)

In [58]:
# Capitalize first name and last name
df_signing_journalists["Nom"] = df_signing_journalists["Nom"].apply(capitalize)
df_signing_journalists["Prénom"] = df_signing_journalists["Prénom"].apply(capitalize)

In [59]:
df_signing_journalists

,Nom,Prénom,Fonction,Média ou organisation
0,Aballain,Olivier,Directeur des formations au journalisme,ESJ Lille
1,Abalo,André,JRI,France Télévision
2,Abbiateci,Jean,Journaliste,NaN
3,Aboudou,Djamiou,Journaliste,L’Emissaire
4,Acar,Anne-Lucie,Journaliste,Free-lance
...,...,...,...,...
1542,Zbinden,Wendy,Journaliste,Pigiste
1543,Zeimet,Stéphanie,Journaliste-éditrice digitale,L’Echo Républicain-Centre France
1544,Zine,Ghita,Journaliste,NaN
1545,Zucchet,Romy,Directrice de publication,Brillante Magazine
1546,Zurmely,David,journaliste,ARTE

In [62]:
df_signing_journalists[df_signing_journalists["Prénom"] == "Pierre-Hippolyte"]

         Nom            Prénom     Fonction Média ou organisation
1387  Senlis  Pierre-Hippolyte  Réalisateur           Indépendant

In [61]:
df_signing_journalists[df_signing_journalists["Prénom"] == "France Bleu"]

                      Nom       Prénom  Fonction Média ou organisation
1203  Planète Bleu Le Mag  France Bleu  Emission           FRANCE BLEU

In [64]:
# Exporting signing journalists
df_signing_journalists.to_csv("../data/charter_signing_journalists.csv", index=False)

In [6]:
import os
from datetime import datetime

import pandas as pd
import requests
from bs4 import BeautifulSoup

TARGET_PATH = (
    "data_public/signataire_charte/generated_on=%s"
    % datetime.today().strftime("%Y%m%d")
)


def capitalize(name):
    """Capitalize a first name or a last name. Even the hyphenated first names.

    Examples:
     - elsa -> Elsa
     - jean-pierre or Jean-pierre -> Jean-Pierre
    """
    if name:
        if name.find("-") != -1:
            list_names = name.split("-")
            list_capitalized_names = [name.capitalize() for name in list_names]
            return "-".join(list_capitalized_names)
        else:
            list_names = name.split()
            list_capitalized_names = [name.capitalize() for name in list_names]
            return " ".join(list_capitalized_names)


def scrap_chartejournalismeecologie_dot_fr():

    URL = "https://chartejournalismeecologie.fr/les-signataires/"
    page = requests.get(URL)

    soup = BeautifulSoup(page.content, "html.parser")
    html_table = soup.table
    df_signing_journalists = pd.read_html(str(html_table), header=0)[0]
    
    df_signing_journalists.dropna(axis=0, how="all", inplace=True)
    df_signing_journalists.reset_index(drop=True, inplace=True)
    # Capitalize first name and last name
    df_signing_journalists["Nom"] = df_signing_journalists["Nom"].apply(capitalize)
    df_signing_journalists["Prénom"] = df_signing_journalists["Prénom"].apply(
        capitalize
    )
    return df_signing_journalists


def write_signataire_charte(df):

    if not os.path.exists(TARGET_PATH):
        os.makedirs(TARGET_PATH)

    df.to_csv(TARGET_PATH + "charter_signing_journalists.csv", index=False)

In [7]:
URL = "https://chartejournalismeecologie.fr/les-signataires/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")
html_table = soup.table
df_signing_journalists = pd.read_html(str(html_table), header=0)[0]

df_signing_journalists.dropna(axis=0, how="all", inplace=True)
df_signing_journalists.reset_index(drop=True, inplace=True)

In [8]:
    df_signing_journalists["Nom"] = df_signing_journalists["Nom"].apply(capitalize)

In [23]:
TARGET_PATH

'data_public/signataire_charte/generated_on=20221125'

In [16]:
df_signing_journalists["Prénom"].astype(str).apply(
    capitalize
)

0          Olivier
1            André
2             Jean
3          Djamiou
4       Anne-Lucie
           ...
1542         Wendy
1543     Stéphanie
1544         Ghita
1545          Romy
1546         David
Name: Prénom, Length: 1547, dtype: object

In [9]:
df_signing_journalists["Prénom"] = df_signing_journalists["Prénom"].apply(
    capitalize
)

AttributeError: 'float' object has no attribute 'find'

In [17]:
df_signing_journalists.shape

(1547, 4)

In [40]:
import plotly.express as px

PATH_SIGNING_PARTNERS = "../data_public/signataire_charte/"
def load_signing_partners_data(latest=True):
    latest_data_path = PATH_SIGNING_PARTNERS + sorted(os.listdir(PATH_SIGNING_PARTNERS))[0]
    df = pd.read_csv(latest_data_path +'/' + os.listdir(latest_data_path)[0])
    return df

In [37]:
df = load_signing_partners_data()

def get_summary_statistics(df):
    nb_unique_signataire = df.drop_duplicates(subset=['Nom', 'Prénom'])
    nb_unique_organisation = df.drop_duplicates(subset=['Média ou organisation'])

    return nb_unique_signataire, nb_unique_organisation

In [42]:
count_medias = df_signing_journalists

In [45]:
count_medias

                                Nom  Prénom  Fonction
Média ou organisation
Indépendante                     56      56        56
Pigiste                          53      53        53
Indépendant                      40      40        40
France Télévisions               29      29        29
France 3                         14      14        14
...                             ...     ...       ...
IUT Lannion                       1       1         1
IUT de Lannion                    1       1         1
IUT de Nice, antenne de Cannes    1       1         1
IUT de journalisme de Cannes      1       1         1
–                                 1       1         1

[955 rows x 3 columns]

In [52]:
def bar_plot_nb_of_signataire_per_media(df):
    count_medias = df.groupby('Média ou organisation').count().sort_values('Nom', ascending=False)
    top_n = 50
    fig = px.bar(
        count_medias.reset_index().head(top_n),
        x="Média ou organisation",
        y="Nom",
    )

    fig.update_xaxes(tickangle=-45, title=None)
    fig.update_yaxes(title='Nombre de personne signataire')
    fig.update_layout(margin={"b": 100}, title='Nombre de signataire de la charte journalisme ecologie par média, top %s'%top_n)
    return fig

In [20]:
df_signing_journalists.drop_duplicates(subset=['Nom', 'Prénom'])

,Nom,Prénom,Fonction,Média ou organisation
0,Aballain,Olivier,Directeur des formations au journalisme,ESJ Lille
1,Abalo,André,JRI,France Télévision
2,Abbiateci,Jean,Journaliste,NaN
3,Aboudou,Djamiou,Journaliste,L’Emissaire
4,Acar,Anne-Lucie,Journaliste,Free-lance
...,...,...,...,...
1542,Zbinden,wendy,Journaliste,Pigiste
1543,Zeimet,Stéphanie,Journaliste-éditrice digitale,L’Echo Républicain-Centre France
1544,Zine,Ghita,Journaliste,NaN
1545,Zucchet,Romy,Directrice de publication,Brillante Magazine
1546,Zurmely,David,journaliste,ARTE

In [38]:
# TODO:
# clean up fonction
# trouver metadata a propos de la taille des media pour pouvoir avoir un nombre relatif

                                Nom  Prénom  Fonction
Média ou organisation
Indépendante                     56      56        56
Pigiste                          53      53        53
Indépendant                      40      40        40
France Télévisions               29      29        29
France 3                         14      14        14
...                             ...     ...       ...
IUT Lannion                       1       1         1
IUT de Lannion                    1       1         1
IUT de Nice, antenne de Cannes    1       1         1
IUT de journalisme de Cannes      1       1         1
–                                 1       1         1

[955 rows x 3 columns]

In [21]:
df_signing_journalists.groupby('Fonction').count()

                                   Nom  Prénom  Média ou organisation
Fonction
(en train de changer)                1       1                      1
, Journaliste                        1       1                      1
Activiste et Cofondatrice de LLC     1       1                      1
Adhérente                            1       1                      1
Administrateur                       1       1                      1
...                                ...     ...                    ...
Étudiante en école de journalisme    1       1                      1
éditeur web                          1       1                      1
étudiant journaliste                 1       1                      1
étudiante                            1       1                      1
étudiante en journalisme             1       1                      1

[590 rows x 3 columns]